<div class='card'>
    <div class='card-header'
         style='text-align: center; color: steelblue; height: 40px; font-weight: bold;'>
        {{productPageTitle}}
    </div>
    <div class='card-bdy'>
        <div class='row'
             style="text-align:left">
            <div class='col-md-2'>
                <h5>{{filterByTxt + ':'}}</h5>
            </div>
            <div class='col-md-1'>
                <input type='text'
                       [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'
             style="text-align:left">
            <div class='col-md-6'>
                <h5>{{filteredByTxt + ':'}} {{listFilter}} </h5>
            </div>
        </div>
        <div class='table-responsive'
             style="text-align:left">
            <table class='table'
                   *ngIf='products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                    (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <img *ngIf='showImage'
                                 src={{product.imageUrl}}
                                 title={{product.productName}}
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            <a [routerLink]="[ '/products', product.productId ]">{{product.productName}}</a>
                        </td>
                        <td>{{product.productCode | convertToSpace:'-'}}</td>
                        <td>{{product.releaseDate | date}}</td>
                        <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>
                            <pm-star [rating]='product.starRating'></pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>